#board {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  background-color: #53e8fc8d;
  padding: 5px; 
  gap: 5px; 
}

.cell {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 4vmin; 
  width: 25vmin; 
  height: 25vmin; 
  text-align: center;
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.playable {
  background-color: rgba(249, 237, 112, 0.952); 
  cursor: pointer;
}

#bottombar {
  height: 4vh;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

#instructions {
  height: 4vh;
  background-color: white;
  padding: 3px; 
  text-align: center;
  border: 1px solid #000000;
  margin-bottom: 5px;
  font-size: 1em;
}

#bottombar button {
  flex: 1;
  height: 100%;
  margin: 0 3px;
  font-size: 1em; 
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}
